h1{
    font-family: 'Quantico', sans-serif;
    
    font-size: 50px;
    text-align: center;
    color: rgb(30, 49, 77);
}

h2 {
    font-family: 'Quantico', sans-serif;
    
    font-size: 30px;
    color: rgb(30, 49, 77);
    padding: 0;
    margin: 5px;
}

#div-font {
    font-family: 'Alumni Sans', sans-serif;

    font-size: 18px;
    color: rgb(30, 49, 77);
    padding: 0 22px 0;
    margin: 0;
}

p.body-format {
    font-family: 'Alumni Sans', sans-serif;

    font-size: 24px;
    font-weight: bold;
    color: rgb(30, 49, 77);
    padding: 0 auto;
    margin: 2px;
}

p.body-format-caption {
    font-family: 'Alumni Sans', sans-serif;

    font-size: 18px;
    color: #3e6a85;
    padding: 0 auto;
    margin: 2px;
}